@import url('https://fonts.googleapis.com/css?family=Open+Sans|Literata|DM+Serif+Display&display=swap');

$header-font: 'DM Serif Display', serif;
$body-font: 'Literata', serif;
$sans-font: 'Open Sans', serif;
