$font-size: 10px;
body{
    font-size: $font-size;
}
h1{font-size:1rem}

nav{font-size: 2rem}

.row{
    margin:0 auto;
    &.wide{
        max-width:1680px
    }
}

.wide{
    width:100%;
    padding: 0 20px!important;
}
.items{
    display:flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    article{
        width: calc(100%/3 - 30px);
        margin: 1rem 0;
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 2rem;
}



/**/
// body{padding-top:60px}
// body , .bodyfont{
//     font-family: 'Open Sans', sans-serif; font-size:16px
// }
// footer{margin:48px 0}
// footer p{}
// .cyfont{font-family: 'gentium_book_basicregular'; color:#fff;}

// .navbar{background:#b3d0cf; height:60px}
// .navbar-brand{font-size:27px}
// .navbar-collapse{border-bottom:1px solid rgba(255,255,255,0.5)}

// .home{background:url(images/home-1140.jpg) top left; height:400px; margin-bottom: 40px; margin-left:-15px}
// .navbar-nav{float:right; background:#b3d0cf}
// .navbar-nav>li>a {padding:20px 15px; color:#404040}
// .navbar-toggle{background:url(./images/sprite.png) no-repeat; margin-top:20px}
// .home h1{padding:150px 0  0 0; line-height:28px; text-align:center; font-size:42px; margin-top:0}
// .home h1 span{font-size:18px; display:block; margin-left:100px}
// h2{margin:24px 0 }
// h3{font-size:20px}
// h2.intro{margin-top:0}
// ul{list-style:none; padding:0}
// @font-face {
//     font-family: 'gentium_book_basicregular';
//     src: url('genbkbasr-webfont.eot');
//     src: url('genbkbasr-webfont.eot?#iefix') format('embedded-opentype'),
//          url('genbkbasr-webfont.woff2') format('woff2'),
//          url('genbkbasr-webfont.woff') format('woff'),
//          url('genbkbasr-webfont.ttf') format('truetype'),
//          url('genbkbasr-webfont.svg#gentium_book_basicregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }
// h3.title{margin-top:0}
// 		.tile {
// 			padding: 20px;
// 			border-radius: 3px;
// 			border: 1px solid #CCCCCC;
// 		}
		
// 		.left {
// 			float: left;
// 		}
		
// 		.right {
// 			float: right;
// 		}
		
// 		.title, .description,.url {
// 			display:block;
// 		}

// 		.url a {
// 			text-transform: uppercase;
// 			color: #349AA3;

// 			text-decoration: none;		
// 		}

// 		.url {
// 			margin-top: 10px;			font-size: 11px;
// 		}
		
// 		.title {
// 			font-weight: bold;
// 		}
// .description{	font-size:14px;
// 				text-align: justify;
// }
// 		.article-content {
// 			width: 48%;
// 			margin-bottom: 24px;
// 		}
// 		.thumbnail {
// 			border: 1px solid #ccc;
// 			margin-right: 4%;
// 			width:48%
// 		}
// 		.thumbnail img{width:100%}
// .copyright{text-align:center; font-size:12px}.clients li{display:block; height: 175px; width: 200px; float:left}#articles .clients li{height:120px}.client{line-height: 2em;    letter-spacing: 0.2em;    color: grey;}.book-small {padding:0 10px 10px 0}