body,
ul,
li,
h1,
h2,
h3 {
  list-style-type: none;
  margin: 0;
  padding: 0
}

@import '_fonts';
@import '_colours';
@import 'config/_functions';
@import 'config/_variables';
@import 'config/_mixins';

html {font-size: 10px;}

body {
  font-size: 1.8em;
  font-family: $body-font;
  line-height: 1.5em;
}

p {
  margin-bottom: 3rem;

  &:first-child{
    margin-top:2rem;
  }
}
a {
  color: $cy_dark;
  text-decoration: none
}

h1 {
  font-family: $header-font;
  font-size: 6rem;
  padding: 12rem;
  // letter-spacing: 0.5rem;
  margin: 0 auto;
  font-weight: normal;

  @include max-screen(sm) {
    padding: 3rem;
    background: none;
    font-size:2em;
    line-height: 1;
  }
}

h2, h3 {
  font-size:2rem
}

nav {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;

  ul {
    text-align: right;
  }

  li {
    display: inline-block;

    a {
      display: block;
      padding: 2.5rem;
      font-size: 1em;
      font-family: $header-font;
    }
  }

  @include max-screen(lg) {
    .main-menu__items {
      position: absolute;
      top: 100%;
      right: -20px;
      background-color: #fff;
      display: none;
      width: 90%;
      max-width: 400px;
      height: 100vh;
      transform: translateX(110vw);
      transition: transform .5s;
      z-index: 50;
      padding: 20px;
      
      &.mobile-active {
        transform: translateX(0);
        display:inline-block;
      }
     }

    .main-menu__mobile {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

    }

    .main-menu__mobile-toggle {
      font-size: 0;
      display: inline-block;
      width: 36px;
      height: 36px;
      background-image: url('/static/images/icons/menu.svg');
      background-size: cover;
      background-position: left top;
      margin-left: 15px;
      -webkit-transition: background-position .3s;
      transition: background-position .3s;

      &.active {
        background-position: left bottom;
      }
    }
  }
}

.row {
  margin: 0 auto;

  &.wide {
    max-width: 1680px
  }
}

.wide {
  padding: 0 30px !important;

}
#__next{
  overflow: hidden;

}

button {
  background: none;
  border: 0;
  padding: 5px;

  &:focus {
    outline: 0
  }
}

header {
  background: $cy_light;
  text-align: center;
}

.logo {
  color: $cy_dark;
  font-size: 2.5rem;
  font-family: $header-font;
  text-decoration: none;
  padding: 2.5rem 0rem;
  display: block;
}

.show-filters {
  display:block;
  position: relative;
  width:100%;
  text-align: left;
  font-family: $body-font;
  padding: 2em 0; 
  
  &:after{
    content:'';
    display: block;
    background: url(../static/images/icons/arrow-dark.svg) no-repeat  center;
    height:20px; 
    width:20px;
    position: absolute;
    left: 50%;
    top:2em;
  }
  &.hide{
    &:after{
      transform:rotate(180deg)
    }
  }
}

.filter-holder {
  transition: height 1s, transform 1s;
  overflow: hidden;

  .active {
    background: $cy_offwhite;
  }

  &.hide{
    height: 0 !important;
  }
  li {
    display: inline-block;
  }

  button {
    margin: 0 5px 5px 0;
    padding: 1.1rem 2.2rem 1rem;
    border: 2px solid $cy_offwhite;
    font-family: $body-font;
    transition: color .3s, background .3s, opacity .2s;
    color: $cy_grey;
    border-radius: 16px;

    &:hover {
      background: $cy_offwhite
    }

    &.clear-filters {
      font-size: 0;
      width: 42px;
      height: 42px;
      position: relative;
      padding: 0;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 38px;
        width: 38px;
        background-image: url('/static/images/icons/icon-close-thin.svg');
        background-size: 26px 26px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .1;
      }
    }
  }

  section {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;

    p{ margin-top:0}

    @include max-screen(sm) {
      grid-template-columns: repeat(1, 1fr);  
      grid-gap: 0;

      .span-col-4{
        grid-column: span 1
      }
    }
  }
}

.span-col-4 {
  grid-column: span 4 / auto;
}

.span-col-3 {
  grid-column: span 3 / auto;
}

.recently {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  align-items: center;

  @include max-screen(sm) {
    grid-template-columns: repeat(2, 1fr);  
  }
  

  article {
    img {max-width: 150px;}
  }
}

.items {
  display: grid;
  grid-gap: 7rem;

  @include min-screen(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include min-screen(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include min-screen(xxl) {
    grid-template-columns: repeat(4, 1fr);
  }
  
  margin-top:3rem;

  article {
    position: relative;
    background: $cy_lighttint;
    border:1px solid $cy_lighttint;
  }

  .image-holder {
    min-height: 21.5rem;

    &:before{
      content: 'Available on request';
      font-size: 2rem;
      display:block;
      position: absolute;
      z-index: 1;
      color: $cy_light;
      text-align: center;
      padding: 7rem 0.2em;
      line-height: 1em;
      font-style: italic;
      width:100%;
    }
    img {
      width: 100%;
      position: relative;
      z-index: 2;
    }
  }

  .details {
    padding: 1em;
  }

  h2 {
    line-height: 32px;
  }

  h3 {
    line-height: 32px;
    text-transform: uppercase;
    font-family: $sans-font;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.1rem;
    color: $cy_grey;
  }

  .tags {
    margin: 10px 0 0 -8px;

    .tag {
      padding: 5px 9px 6px;
      background: white;
      margin: 0 10px 0 0;
      font-size: 0.8em;
    }
  }
}

.intro-home {
  background: url('/static/images/home-1140.jpg') no-repeat;
  background-size: cover;
  text-align: center;

  h1 {
    color: $cy_nearwhite;
    letter-spacing: 0;
    font-weight: normal;
    font-family: $header-font;

    span {
      display: block;
      font-size: 1.8rem;

      &:before {
        display: block;
        content: '';
        margin: 50px auto 20px;
        width: 50px;
        height: 2px;
        background-color: $cy_nearwhite;
      }
    }
  }
}

.copy {
  max-width: 780px;
  margin: 0 auto;

  h2 {
    margin: 4rem 0 2rem;
  }
}

.copy-list li {
  padding: 0 6rem 2rem;
}

footer {
  background: $cy_dark;
  color: $cy_nearwhite;
  padding: 3rem;
  text-align: center;
  margin-top: 6rem;

  .socials {
    i {
      font-size: 1.8em;
    }
  }
  a {
    color: $cy_nearwhite;
  }

  li {
    display: inline;
    padding: 0 2rem;
  }
}